<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
	$(document).ready(function() {
		$('.slider').bxSlider({
			auto : true,
			speed : 1000,
			pause : 2500,
			mode : 'fade',
			pager : false,
			autoHover : true,
		});
	});
</script>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<p style="text-align:right">
    {% if user.is_authenticated %}
        <a href="{% url 'common:logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'common:login' %}">로그인</a>
    {% endif %}
    {% if not user.is_authenticated %}
        <a class="nav-link" href="{% url 'common:signup' %}" style="display:inline">회원가입</a>
    {% endif %}
    <img src="../static/사람사진.png" alt="..." id="img2">
</p>
<div class="a">
    <div class="text-center" id="masil">
        <img src="../static/마실가자.png" alt="...">
    </div>
        <form action="#" method="" id="search">
            <div class="input-group mt-3">
                <input  name="" type="text" class="form-control" placeholder="검색어 입력">
                <button class="btn btn-success" type="submit">검색</button>
            </div>
        </form>
        <div class="slider">
            <div><img src="static/image/서울둘레길1코스1.jpg" /></div>
            <div><img src="static/image/서울둘레길1코스2.jpg" /></div>
            <div><img src="static/image/서울둘레길2코스1.jpg" /></div>
            <div><img src="static/image/서울둘레길2코스2.jpg" /></div>
            <div><img src="static/image/서울둘레길3코스1.jpg" /></div>
            <div><img src="static/image/서울둘레길3코스2.jpg" /></div>
            <div><img src="static/image/서울둘레길4코스1.jpg" /></div>
            <div><img src="static/image/서울둘레길4코스2.jpg" /></div>
            <div><img src="static/image/서울둘레길6코스1.jpg" /></div>
            <div><img src="static/image/서울둘레길6코스2.jpg" /></div>
            <div><img src="static/image/서울둘레길6코스3.jpg" /></div>
	    </div>

        <div style="margin: 30px 0px 0px 0px;">
            <div class="btn btn-success btn-lg" style="width:140px; height:80px;" >테마</div>
            <a href="{% url 'cal:calendar' %}"><div class="btn btn-success btn-lg" style="width:140px; height:80px;">동행</div></a>
            <a href="{% url 'pybo:board' %}"><div class="btn btn-success btn-lg" style="width:140px; height:80px;">게시판</div></a>
            <div class="btn btn-success btn-lg" style="width:140px; height:80px;">채팅</div>
        </div>
</div>
{% endblock %}
</body>
</html>